<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<section class="top-nav-sec" id="topNavSec">
    <div class="top-nav-wrapper" id="topNavWrapper">
        <div class="top-nav">
            <a href="javascript:;" class="sticky-menu" id="stickyMenu">
                <i class="fas fa-bars" id="menuIcon"></i>
            </a>
            <div class="left-icon-area">
                <p><span>PORTFOLIO</span></p>
            </div>
            <div class="center-btn-area">
                <ul class="center-btn-list">
                    <li data-target="about"><a href="#about">About</a></li>
                    <li data-target="experience">
                        <a href="#experience">Experience</a>
                    </li>
                    <li data-target="portfolio">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li data-target="education">
                        <a href="#education">Education</a>
                    </li>
                    <li data-target="contact">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="mobile-bottom-contact">
                <div class="nav-phone-number">
                    <p>Contact for more information</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    :root {
        --font24: 1.5rem;
        --font16: 1rem;
    }
    .top-nav-sec {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
    .top-nav-wrapper {
        position: absolute;
        height: 70px;
        width: calc(100% - 24px);
        max-width: 1600px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 12px 18px 0;
        z-index: 998;
        transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .top-nav {
        width: 100%;
        height: 100%;
        border-radius: 32px;
        box-shadow:
            0 0 10px rgba(255, 255, 255, 0.55),
            0 0 20px rgba(255, 255, 255, 0.35),
            0 0 30px rgba(255, 255, 255, 0.25);
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;
        transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .top-nav a {
        text-decoration: none;
        color: #232323;
    }
    .top-nav .left-icon-area p {
        padding-left: 85px;
        font-weight: 600;
        font-size: 2rem;
        color: #232323;
        transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .top-nav .left-icon-area span {
        color: #232323;
    }
    .top-nav .center-btn-area {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        margin-left: 60px;
        transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .top-nav .center-btn-area ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }
    .top-nav .center-btn-area ul li {
        display: inline-block;
        font-size: var(--font16);
        font-weight: 600;
        margin: 20px;
        position: relative;
        opacity: 1;
        visibility: visible;
        transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
        cursor: pointer;
    }
    .top-nav .sticky-menu {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 56px;
        height: 70px;
        border-radius: 28px;
        background-color: #ffffff;
        font-size: 20px;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top-nav .sticky-menu i {
        font-size: 20px;
        color: #232323;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top-nav-sec.fixed-nav .top-nav-wrapper {
        width: 92px;
        left: 2px;
        transform: none;
    }
    .top-nav-sec.fixed-nav .top-nav {
        width: 56px;
        height: 70px;
        border-radius: 28px;
        box-shadow:
            0 0 8px rgba(255, 255, 255, 0.55),
            0 0 16px rgba(255, 255, 255, 0.35),
            0 0 24px rgba(255, 255, 255, 0.25);
    }
    .top-nav-sec.fixed-nav .top-nav .left-icon-area p {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .top-nav-sec.fixed-nav .top-nav .center-btn-area ul li {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .top-nav-sec.fixed-nav .top-nav .sticky-menu {
        opacity: 1;
        visibility: visible;
        transition: 0.2s ease-in-out 0.3s;
    }
    .top-nav-sec.fixed-nav .top-nav .left-icon-area p {
        transform: translateX(-90px);
    }
    .top-nav-sec.fixed-nav .top-nav .center-btn-area {
        transform: translateX(-110px);
    }
    .top-nav-sec.fixed-nav .top-nav-wrapper.clicked {
        width: calc(100% - 24px);
        max-width: 1600px;
        left: 50%;
        transform: translateX(-50%);
    }
    .top-nav-sec.fixed-nav .top-nav-wrapper.clicked .top-nav {
        width: 100%;
        border-radius: 32px;
    }
    .top-nav-sec.fixed-nav .top-nav-wrapper.clicked .top-nav .left-icon-area p {
        opacity: 1;
        transform: translateX(0px);
        visibility: visible;
        transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    }
    .top-nav-sec.fixed-nav .top-nav .left-icon-area p {
        transform: translateX(-30px);
    }
    .top-nav-sec.fixed-nav .top-nav .center-btn-area {
        transform: translateX(-50px);
    }
    .top-nav-sec.fixed-nav
        .top-nav-wrapper.clicked
        .top-nav
        .center-btn-area
        ul
        li {
        opacity: 1;
        visibility: visible;
        transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    }
    .top-nav-sec.fixed-nav .top-nav-wrapper.clicked .top-nav .center-btn-area {
        transform: translateX(0px);
    }
    @media (max-width: 991px) {
        .top-nav-sec.fixed-nav {
            position: absolute;
            top: 0;
        }
    }
    @media (max-width: 768px) {
        .top-nav-wrapper {
            padding: 0;
            position: fixed;
            height: 70px;
            width: 100% !important;
            left: 0 !important;
            transform: none !important;
            max-width: none !important;
        }
        .top-nav {
            border-radius: 0;
            flex-wrap: wrap;
            align-content: flex-start;
            height: 70px;
        }
        .top-nav .left-icon-area {
            flex-basis: 100%;
            width: 100%;
            height: 70px;
        }
        .top-nav .center-btn-area {
            display: none;
            order: 3;
            flex-basis: 100%;
            width: 100%;
            height: fit-content;
            border-top: 0.5px solid #1a1a1a26;
            justify-content: flex-start;
            padding-bottom: 20px;
        }
        .top-nav .center-btn-area ul {
            padding-left: 25px;
            flex-direction: column;
        }
        .top-nav .center-btn-area ul li {
            margin: 20px 0 0;
            display: block;
            font-size: var(--font24);
        }
        .top-nav .sticky-menu {
            display: flex !important;
            position: absolute;
            top: 11px;
            left: 11px;
            opacity: 1;
            visibility: visible;
            width: 48px;
            height: 48px;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border-radius: 24px;
        }
        .top-nav .sticky-menu i {
            font-size: 18px;
            color: #232323;
            font-weight: 900;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .top-nav-sec.mobile-opened .top-nav-wrapper {
            height: 100vh;
        }
        .top-nav-sec.mobile-opened .top-nav {
            height: 100%;
        }
        .top-nav-sec.mobile-opened .top-nav .center-btn-area {
            display: flex;
        }
        .top-nav-sec .top-nav .mobile-bottom-contact {
            position: absolute;
            width: 100%;
            border-top: 0.5px solid #1a1a1a26;
            text-align: center;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition:
                opacity 0.3s ease-in-out,
                visibility 0.3s ease-in-out;
        }
        .top-nav-sec.mobile-opened .top-nav .mobile-bottom-contact {
            visibility: visible;
            opacity: 1;
        }
    }
</style>

<script is:inline>
    class NavBarHandler {
        constructor() {
            this.topNavSec = document.getElementById("topNavSec");
            this.topNavWrapper = document.getElementById("topNavWrapper");
            this.stickyMenu = document.getElementById("stickyMenu");
            this.menuIcon = document.getElementById("menuIcon");
            this.navLinks = document.querySelectorAll(".center-btn-list li");
            this.isMenuOpen = false;
            this.lastScrollTop = 0;
            this.desktopBreakpoint = 768;
            if (this.topNavSec && this.stickyMenu) {
                this.init();
            } else {
                console.error("Elementos de navegación no encontrados.");
            }
        }
        init() {
            window.addEventListener("scroll", this.windowScroll.bind(this));
            window.addEventListener("resize", this.windowResize.bind(this));
            this.stickyMenu?.addEventListener("click", this.openNav.bind(this));
            this.navLinks.forEach((link) => {
                link.addEventListener("click", this.scrollToSection.bind(this));
            });
            this.windowScroll();
            this.windowResize();
        }
        windowScroll() {
            const scrollTop =
                window.scrollY || document.documentElement.scrollTop;
            const isDesktop = window.innerWidth > this.desktopBreakpoint;
            const isScrolled = scrollTop > 100;
            if (isDesktop) {
                if (isScrolled) {
                    this.topNavSec?.classList.add("fixed-nav");
                    if (this.topNavWrapper?.classList.contains("clicked")) {
                        this.topNavWrapper.classList.remove("clicked");
                        this.menuIcon?.classList.remove("fa-times");
                        this.menuIcon?.classList.add("fa-bars");
                    }
                } else {
                    this.topNavSec?.classList.remove("fixed-nav");
                    this.topNavWrapper?.classList.remove("clicked");
                }
            }
            if (
                window.innerWidth <= this.desktopBreakpoint &&
                this.isMenuOpen &&
                Math.abs(scrollTop - this.lastScrollTop) > 10
            ) {
                this.openNav();
            }
            this.lastScrollTop = scrollTop;
        }
        windowResize() {
            if (
                window.innerWidth <= 991 &&
                this.topNavSec?.classList.contains("fixed-nav")
            ) {
                this.topNavSec.classList.remove("fixed-nav");
            }
            if (window.innerWidth > this.desktopBreakpoint && this.isMenuOpen) {
                this.topNavSec?.classList.remove("mobile-opened");
                this.topNavWrapper?.classList.remove("clicked");
                this.isMenuOpen = false;
                this.menuIcon?.classList.remove("fa-times");
                this.menuIcon?.classList.add("fa-bars");
            }
        }
        openNav(event) {
            event?.preventDefault();
            if (
                window.innerWidth > this.desktopBreakpoint &&
                this.topNavSec?.classList.contains("fixed-nav")
            ) {
                this.topNavWrapper?.classList.toggle("clicked");
                const isClicked =
                    this.topNavWrapper?.classList.contains("clicked");
                if (this.menuIcon) {
                    this.menuIcon.classList.remove(
                        isClicked ? "fa-bars" : "fa-times",
                    );
                    this.menuIcon.classList.add(
                        isClicked ? "fa-times" : "fa-bars",
                    );
                }
            } else if (window.innerWidth <= this.desktopBreakpoint) {
                this.isMenuOpen = !this.isMenuOpen;
                this.topNavSec?.classList.toggle(
                    "mobile-opened",
                    this.isMenuOpen,
                );
                if (this.menuIcon) {
                    this.menuIcon.classList.remove(
                        this.isMenuOpen ? "fa-bars" : "fa-times",
                    );
                    this.menuIcon.classList.add(
                        this.isMenuOpen ? "fa-times" : "fa-bars",
                    );
                }
                document.body.style.overflow = this.isMenuOpen ? "hidden" : "";
            }
        }
        scrollToSection(event) {
            event.preventDefault();
            const targetElement = event.currentTarget;
            const targetId = targetElement.getAttribute("data-target");
            if (this.isMenuOpen) {
                this.openNav();
            }
            if (targetId) {
                const section = document.getElementById(targetId);
                if (section) {
                    const navHeight = this.topNavSec?.offsetHeight || 70;
                    let offsetTop =
                        section.getBoundingClientRect().top + window.scrollY;
                    offsetTop -= navHeight + 20;
                    window.scrollTo({
                        top: offsetTop,
                        behavior: "smooth",
                    });
                }
            }
        }
    }
    document.addEventListener("DOMContentLoaded", () => {
        new NavBarHandler();
    });
</script>
