---
import Layout from "../layouts/Layout.astro";
import TopNavbar from "../components/TopNavbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ProjectModal from "../components/ProjectModal.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title="home">
    <TopNavbar />
    <div
        class="flex flex-col items-center justify-center min-h-screen text-center -mt-20 relative"
        id="home"
    >
        <div class="home-light"></div>

        <h3 class="text-white text-xl mb-2 font-medium shadow-text">
            Hello I'm
        </h3>
        <h1 class="text-white text-7xl font-extrabold m-0 shadow-text">
            Gael Castro
        </h1>
        <h1 class="text-white text-6xl font-extrabold mt-2 shadow-text">
            Software Engineer & Web Developer
        </h1>
    </div>

    <div
        class="flex flex-col items-center justify-center min-h-screen text-center mt-20 relative"
        id="about"
    >
        <section
            class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center max-w-6xl mx-auto px-8"
        >
            <div class="flex justify-center pr-40 md:justify-end">
                <img
                    src="/images/shaw.jpg"
                    alt="Gael Castro"
                    class="w-max h-max object-cover shadow-lg"
                />
            </div>

            <div class="text-left">
                <h2 class="text-white text-5xl mb-6 shadow-text">About Me</h2>
                <p class="text-white text-lg mb-4 leading-relaxed">
                    Hello there! I'm <strong>Gael Castro</strong>. Someone with
                    interest in web development and a strong commitment to
                    continuous learning. A adaptive individual who possesses
                    logical reasoning skills, proactive attitude, effective
                    teamwork and interest on new technologies.
                </p>
                <p class="text-white text-lg leading-relaxed mt-10">
                    Follow me through my journey over time.
                </p>
            </div>
        </section>
    </div>

    <div
        id="projects"
        class="min-h-screen py-16 px-8 flex flex-col justify-center items-center"
    >
        <section class="max-w-7xl mx-auto w-full">
            <h2 class="text-white text-5xl mb-12 text-center shadow-text">
                Projects
            </h2>
            <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
            >
                {projects.map((project) => <ProjectCard project={project} />)}
            </div>
        </section>
    </div>

    <!-- Modales de proyectos -->
    {projects.map((project) => <ProjectModal project={project} />)}

    <!-- TEST -->
    <div class="py-8">
        <section
            id="experience"
            class="min-h-screen bg-red py-16 px-8 my-8 flex flex-col justify-center items-center text-center"
        >
            <h2 class="text-white text-5xl mb-8 shadow-text">Experience</h2>
            <p class="text-white text-xl max-w-2xl leading-relaxed">
                This is the experience section...
            </p>
        </section>

        <section
            id="contact"
            class="min-h-screen py-16 px-8 my-8 flex flex-col justify-center items-center text-center"
        >
            <h2 class="text-white text-5xl mb-8 shadow-text">Contact</h2>
            <p class="text-white text-xl max-w-2xl leading-relaxed">
                This is the contact section...
            </p>
        </section>
    </div>
</Layout>

<script src="../scripts/projectModal.js"></script>

<style>
    .shadow-text {
        text-shadow:
            0 0 8px rgba(255, 255, 255, 0.2),
            0 0 16px rgba(255, 255, 255, 0.15);
    }

    #home {
        position: relative;
        overflow: hidden;
    }

    .home-light {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 160%;
        height: 240%;
        background: radial-gradient(
            ellipse 40% 100% at 50% 90%,
            rgba(255, 51, 0, 0.6) 0%,
            rgba(207, 35, 0, 0.4) 20%,
            rgba(68, 16, 16, 0.3) 40%,
            rgba(52, 22, 22, 0.1) 60%,
            transparent 80%
        );
        filter: blur(20px);
        opacity: 0.7;
        z-index: -1;
        animation: simplePulse 4s ease-in-out infinite;
    }

    @keyframes simplePulse {
        0%,
        100% {
            opacity: 0.7;
        }
        50% {
            opacity: 0.9;
        }
    }

    @media (max-width: 600px) {
        .text-7xl {
            font-size: 2.2rem;
        }

        .text-6xl {
            font-size: 1.5rem;
        }

        .text-xl {
            font-size: 1rem;
        }

        .min-h-screen {
            min-height: 60vh;
        }

        .pt-20 {
            padding-top: 100px;
        }

        .text-5xl {
            font-size: 2rem;
        }

        .px-8 {
            padding-left: 10px;
            padding-right: 10px;
        }

        /* Luz más pequeña en móviles */
        .home-light {
            width: 185%;
            height: 200%;
            filter: blur(20px);
        }
    }
</style>

<!-- <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    const tl = gsap.timeline({
        scrollTrigger: {
            scrub: 1,
        },
    });

    ScrollTrigger.create({
        trigger: "#about",
        start: "top top",
        end: "+=500px",
        pinSpacing: false,
        pin: true,
    });
</script> -->
